#### Analyze scraped linkedin job data
##### Preparation

In [341]:
# libraries
import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
plt.style.use('bmh')

In [342]:
# Load the data
job_data_file_name = "job-data.csv"
df = pd.read_csv(job_data_file_name)

# show head 5 of data
df.head(5)

,job_id,job_title,company_name,company_link,job_location,publish_date,applicant_count,job_type,job_level,company_size,company_industry,connection_count,connection_type,job_description
0,3225302096,"Data Analyst (Tableau, Snowflake & Python)",Nigel Frank International,https://www.linkedin.com/company/nigel-frank-i...,On-site,1 day ago,NaN,Full-time,Entry level,"1,001-5,000",Staffing and Recruiting,1.0,school alumni,About the job Data Analyst for Sweden's leadin...
1,3223774058,Product Data Analyst,Challengermode >> Meet us @GamesCom 2022,https://www.linkedin.com/company/challengermod...,Hybrid,2 days ago,NaN,Full-time,Mid-Senior level,11-50,Computer Games,NaN,NaN,About the job Does it really bother you when p...
2,3223917392,Analytics Engineer - Forecasting & Data,Spotify,https://www.linkedin.com/company/spotify/life/,NaN,2 days ago,NaN,Full-time,Entry level,"5,001-10,000",Musicians,3.0,school alumni,About the job We are looking for an engineer w...
3,3181830993,Data Analyst,Sinch,https://www.linkedin.com/company/sinch/life/,NaN,1 week ago,NaN,Full-time,NaN,NaN,NaN,NaN,NaN,About the job We are Sinch. With presence in m...
4,3190008503,Senior Data Analyst,TUI,https://www.linkedin.com/company/tuigroup/life/,Hybrid,2 days ago,NaN,Full-time,Associate,"10,001+",Travel Arrangements,6.0,school alumni,About the job TUI is well on its way to transf...

In [343]:
# show the tail 5 of data
df.tail(5)

,job_id,job_title,company_name,company_link,job_location,publish_date,applicant_count,job_type,job_level,company_size,company_industry,connection_count,connection_type,job_description
1593,3119816534,Mid Level Incident Readiness Consultant,WithSecure,https://www.linkedin.com/company/withsecure/life/,NaN,2 days ago,8.0,Full-time,Mid-Senior level,"1,001-5,000",Computer and Network Security,1.0,school alumni,About the job WithSecure™ protects businesses ...
1594,3216569059,Data Analyst,Gelato,https://www.linkedin.com/company/gelato/life/,Hybrid,6 days ago,42.0,Full-time,Mid-Senior level,201-500,Internet Marketplace Platforms,NaN,NaN,About the job About Gelato Gelato has built th...
1595,3227788996,Business Analyst,Etraveli Group,https://www.linkedin.com/company/etraveli-grou...,Hybrid,1 day ago,63.0,Full-time,Entry level,"1,001-5,000","Technology, Information and Internet",NaN,NaN,About the job Description Etraveli Group is a ...
1596,3103862817,Consultant,Prokura,https://www.linkedin.com/company/prokura/life/,On-site,2 months ago,88.0,Full-time,NaN,NaN,NaN,NaN,NaN,About the job Are you Prokura’s new Consultant...
1597,3000442992,Anaplan Consultant,Spaulding Ridge,https://www.linkedin.com/company/spaulding-rid...,NaN,2 days ago,30.0,Full-time,Associate,"501-1,000",Business Consulting and Services,NaN,NaN,About the job Spaulding Ridge is a best-in-clo...

In [344]:
# the dataset dimensions
df.shape

(1598, 14)

In [345]:
# show the summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_id            1598 non-null   int64
 1   job_title         1596 non-null   object
 2   company_name      1596 non-null   object
 3   company_link      1560 non-null   object
 4   job_location      1189 non-null   object
 5   publish_date      1578 non-null   object
 6   applicant_count   1020 non-null   float64
 7   job_type          1559 non-null   object
 8   job_level         1330 non-null   object
 9   company_size      1332 non-null   object
 10  company_industry  1326 non-null   object
 11  connection_count  521 non-null    float64
 12  connection_type   521 non-null    object
 13  job_description   1596 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 174.9+ KB

In [346]:
#Describe the data
df.describe()

             job_id  applicant_count  connection_count
count  1.598000e+03      1020.000000         521.00000
mean   3.172075e+09        33.469608           4.96737
std    6.707277e+07        34.739774           8.96086
min    2.722760e+09         1.000000           1.00000
25%    3.139856e+09         8.000000           1.00000
50%    3.195594e+09        19.000000           1.00000
75%    3.216569e+09        49.000000           4.00000
max    3.228182e+09       191.000000          61.00000

Only job_id is quantitative. The describe() doesn't show valuable insight.

##### Data cleanup

In [347]:
# job_id is unique value. Duplicated rows with same job_id will be dropped
# count of job_ids
print("number of job_ids: ", df['job_id'].count())

# number of unique job_ids
print("number of unique job_ids: ", df["job_id"].nunique())

# drop rows with duplicated job_id
df = df.drop_duplicates(subset=['job_id'])
print("number of job_ids after remove duplicates: ", df['job_id'].count())

number of job_ids:  1598
number of unique job_ids:  985
number of job_ids after remove duplicates:  985

We cannot use the column with too much NaN values

In [348]:
# count the NaN value of each column
df.isna().sum()

job_id                0
job_title             2
company_name          2
company_link         38
job_location        261
publish_date         20
applicant_count     496
job_type             39
job_level           192
company_size        190
company_industry    196
connection_count    689
connection_type     689
job_description       2
dtype: int64

##### Check for Duplicates
While the column of applicant_count, connection_count and connection_type are needed to be dropped

In [349]:
df = df.drop('applicant_count', axis=1).drop('connection_count', axis=1).drop('connection_type', axis=1)
df.head(5)

,job_id,job_title,company_name,company_link,job_location,publish_date,job_type,job_level,company_size,company_industry,job_description
0,3225302096,"Data Analyst (Tableau, Snowflake & Python)",Nigel Frank International,https://www.linkedin.com/company/nigel-frank-i...,On-site,1 day ago,Full-time,Entry level,"1,001-5,000",Staffing and Recruiting,About the job Data Analyst for Sweden's leadin...
1,3223774058,Product Data Analyst,Challengermode >> Meet us @GamesCom 2022,https://www.linkedin.com/company/challengermod...,Hybrid,2 days ago,Full-time,Mid-Senior level,11-50,Computer Games,About the job Does it really bother you when p...
2,3223917392,Analytics Engineer - Forecasting & Data,Spotify,https://www.linkedin.com/company/spotify/life/,NaN,2 days ago,Full-time,Entry level,"5,001-10,000",Musicians,About the job We are looking for an engineer w...
3,3181830993,Data Analyst,Sinch,https://www.linkedin.com/company/sinch/life/,NaN,1 week ago,Full-time,NaN,NaN,NaN,About the job We are Sinch. With presence in m...
4,3190008503,Senior Data Analyst,TUI,https://www.linkedin.com/company/tuigroup/life/,Hybrid,2 days ago,Full-time,Associate,"10,001+",Travel Arrangements,About the job TUI is well on its way to transf...

Drop the rows with NaN job_title

In [350]:
# drop the job_title row with the NaN values 
print("count NaN of job_title column is ", df['job_title'].isna().sum())
df = df[df['job_title'].notna()]

# drop the row if job_description is NaN
df = df[df['job_description'].notna()]

count NaN of job_title column is  2

##### Handle the NaN of rest columns

In [351]:
# Check NaN
df.isna().sum()

job_id                0
job_title             0
company_name          0
company_link         36
job_location        259
publish_date         18
job_type             37
job_level           190
company_size        188
company_industry    194
job_description       0
dtype: int64

In [352]:
# Set company link to empty string which means the there is no company page on linkedin
df['company_link'] = df['company_link'].fillna('')

Value imputation is used to guess the missing values for the columns with NaN value.

In [353]:
# summarize the job_location values
df['job_location'].value_counts()

Remote     328
On-site    269
Hybrid     127
Name: job_location, dtype: int64

The default job_location is On-site when the value is missing on the job page.

In [354]:
# replace the NaN value as 'On-site' 
df['job_location'] = df['job_location'].fillna('On-site')

The missing publish_date will be set to empty string

In [355]:
df['publish_date'] = df['publish_date'].fillna('')
df['publish_date'].value_counts()

1 week ago      222
3 weeks ago     198
2 weeks ago     130
1 month ago     116
1 day ago        61
2 days ago       58
3 days ago       39
6 days ago       31
4 weeks ago      30
4 days ago       25
2 months ago     22
                 18
5 days ago        6
3 months ago      5
22 hours ago      4
8 months ago      3
4 months ago      3
23 hours ago      2
6 months ago      2
2 hours ago       2
5 hours ago       1
21 hours ago      1
3 hours ago       1
14 hours ago      1
1 hour ago        1
5 months ago      1
Name: publish_date, dtype: int64

The missing job_type is filled with 'Full-time'

In [356]:
df['job_type'].value_counts()

Full-time                   789
Part-time                   101
Contract                     50
Temporary                     3
Internship                    1
€1/month                      1
£70,000/yr - £100,000/yr      1
Name: job_type, dtype: int64

In [357]:
# fill NaN with 'Full-time'
df['job_type'] = df['job_type'].fillna('Full-time')

The default value of job_level is set to 'Not specified'

In [358]:
# check job_level value range
df['job_level'].value_counts()

Entry level         370
Associate           209
Mid-Senior level    203
Director              9
Full-time             2
Name: job_level, dtype: int64

In [359]:
# fill in the NaN with 'Not specified'
df['job_level'] = df['job_level'].fillna('Not specified')

The value 'Full-time' is an outlier in 'job_level' column. The 'Full-time' will be replace with 'Not specified'

In [360]:
# fix the incorrect value of 'Full-time'
df['job_level'] = df['job_level'].replace(['Full-time'], 'Not specified')

Replace the missing company size with 'Not specified'

In [361]:
df['company_size'] = df['company_size'].fillna('Not specified')

#The company size codes from smallest to largest are '1-10', '11-50', '51-200', '201-500', '501-1000', '1001-5000', '5,001-10,000' and '10,001+'

Replace the NaN value in company_industry with 'Not specified'

In [362]:
# replace NaN with 'Not specified'
df['company_industry'] = df['company_industry'].fillna('Not specified')

# check the value range of company_industry column
df['company_industry'].value_counts()

IT Services and IT Consulting         217
Staffing and Recruiting               213
Not specified                         194
Financial Services                     45
Software Development                   36
                                     ...
Hospitality                             1
Philanthropic Fundraising Services      1
Mining                                  1
Research Services                       1
Civil Engineering                       1
Name: company_industry, Length: 68, dtype: int64

In [363]:
# check the NaN of the dataframe again 
df.isna().sum()

job_id              0
job_title           0
company_name        0
company_link        0
job_location        0
publish_date        0
job_type            0
job_level           0
company_size        0
company_industry    0
job_description     0
dtype: int64


##### Check value counts of the specific column, job_title

In [364]:
# check the job_title
df['job_title'].value_counts()

Data Engineer                                                            68
Business Analyst                                                         26
Data Scientist                                                           20
Senior Data Engineer                                                     15
Data Analyst                                                             14
                                                                         ..
Database Engineer                                                         1
Data Engineer, Data Management & Architecture                             1
Oracle Developer Data warehouse developer                                 1
(Senior) ETRM Cloud Data Engineer                                         1
Konsult inom datacenter och server, lagring, backup och HCI-lösningar     1
Name: job_title, Length: 641, dtype: int64

The values of the job titles need to be replaced by similarity.

In [368]:
# print all the unique values of job_title before make similarity match 
job_title_list = df['job_title'].unique()
print(sorted(job_title_list))

['(Senior) Biostatistician', '(Senior) Data Analyst - Growth', '(Senior) ETRM Cloud Data Engineer', '(Senior) Product Data Analyst - City (m/f/d)', '(Senior) Product Data Analyst - Consumer (m/f/d)', '(Senior) Quantitative Risk Analyst', '2023 - Business Analyst - Stockholm', 'A Z U R E - Data Engineer - (S W E D E N)', 'A Z U R E - Data Engineer - S W E D E N', 'AI Research Engineer', 'AWS Cloud Engineer', 'AWS Data Engineer - Streaming Data, AWS, Python, Kinesis, Kafka - 100% Remote Contract', 'AWS Engineer', 'Advanced Solutions Engineer', 'Agile Business Analyst, Financial Services', 'Algorithm Developer/Algoritmutvecklare', 'Algorithm Engineer', 'Allegro Developer', 'Analyst & Senior Analyst- Pay Per Click, Marketing (Bangkok Based, relocation provided)', 'Analyst or Senior Analyst or Associate Manager(Bangkok Based, relocation provided)', 'Analyst or Senior Analyst- Beds Network (Bangkok Based, relocation provided)', 'Analyst or Senior Analyst- Customer Experience Group(Bangkok Based, relocation provided)', 'Analyst or Senior Analyst- Customer Marketing (Bangkok Based, relocation provided)', 'Analyst, Senior Analyst, Associate Manager (Bangkok Based, relocation provided)', 'Analyst/Senior Analyst, Credit Analyst - Corporates - Industrials - Stockholm', 'Analytics Analyst to Sileon', 'Analytics Consultant - McKinsey Digital', 'Analytics Engineer', 'Analytics Engineer - Forecasting & Data', 'Analytiker till avdelningen Data- och verksamhetsutveckling', 'Analytiker till staben Ekonomisk analys', 'Anaplan Consultant', 'Application Engineer', 'Application Engineer - Education', 'Application Engineer for Battery Systems', 'Applications Engineer - GPR', 'ArcGIS Developer', 'Artificial Intelligence Engineer', 'Associate Data Analyst- Customer Experience Group | Bangkok-based', 'Azure Cloud Developer', 'Azure Data Engineer', 'Azure Data Engineer - GTM0597', 'Azure Migration specialist', 'BI Analyst', 'BI Consultant- Fully remote position', 'BI Consultant- Remote Position', 'BI Consultant- Stockholm', 'BI Consultant- Stockholm/ Remote Position', 'BI Developer', 'BI Developer - Stockholm', 'BI Developer in Stockholm', 'BI Developer to If Insurance', 'BI Developer to Lantmännen', 'BI Developer, Stockholm, Gothenburg, Link�ping and J�nk�ping', 'BI Developer- Stockholm', 'BI Developer- Stockholm & Gothenburg', 'BI Developers- Stockholm', 'BI Engineer- Acceleration Nordics', 'BI-Controller', 'BI/ Data Engineer Consultants - Multiple locations in Sweden', 'Back End Developer', 'Back End Python Engineer', 'Backend Engineer', 'Backend Engineer (Python) - UK or France (Remote)', 'Backend Engineer, Data Acquisition', 'Backend/Infrastructure Engineer', 'Biostatistician', 'Biostatistician II; Senior Biostatistician I,II; Principal Biostatistician', 'Blockchain Developer', 'Build Engineer - Shared Tech', 'Business Analyst', 'Business Analyst (m/f/d)', 'Business Analyst - AI & Automation', 'Business Analyst - Central Stockholm', 'Business Analyst - Front Arena', 'Business Analyst - VIE Contract (W/M)', 'Business Analyst - Wasa Kredit', 'Business Analyst -Sweden', 'Business Analyst / Kravare', 'Business Analyst /Technical Tester', 'Business Analyst Quality Assurance', 'Business Analyst Retail', 'Business Analyst Retail & E-Commerce', 'Business Analyst Senior Specialist - Nasdaq', 'Business Analyst at Sales and Customer Relationship (CR) to SEB Kort in Stockholm', 'Business Analyst till Däckskiftarna', 'Business Analyst till ESSVE', 'Business Analyst till Visma PubliTech!', 'Business Analyst till streaming-bolag - Castra', 'Business Analyst to ESG Analytics, Nordics', 'Business Analyst to ISK and IPS', 'Business Analyst with BI Product Owner responsibilities', 'Business Analyst, Commercial Systems', 'Business Analyst, Data Driven Services', 'Business Analyst- Beds Network (Bangkok Based, relocation provided)', 'Business Analyst- IAM', 'Business Controller - Group Central Functions (FP&A Analyst)', 'Business Controller Consumables and Accessories', 'Business Developer Intelligent Operations', 'Business Engineer', 'Business Intelligence Analyst', 'Business Intelligence Consultant', 'Business Intelligence Consultant - Stockholm', 'Business Intelligence Developer', 'Business Intelligence Developer & Analyst - Reinsight Talangprogram', 'Business Intelligence Developer/Analyst', 'Business Intelligence Engineer', 'Business Intelligence Specialist', 'Business Intelligence – Dataanalytiker (Stockholm, Halmstad alt. Helsingborg)', 'Business Intelligence- och Analytics-konsult - Stockholm', 'Business/Data Analyst', 'CEE COUNTRIES - Clinical Data Analyst', 'CRM Business Analyst - SEB Kort', 'CRM analyst to Acne Studios', 'Cervera söker en Business Analyst, CRM', 'Client Service Analyst to CSS!', 'Clinical Statistical Programmer', 'Cloud Data Engineer', 'Cloud Data Engineer (Python)', 'Cloud Data Engineer till Finity People', 'Cloud Data Engineer, Professional Services, Google Cloud', 'Cloud Engineer', 'Cloud Engineer (Remote)', 'Cloud Engineer - GCP BigQuery Specialist', 'Cloud Engineer - GCP Cloud SQL Specialist', 'Cloud Engineer - GCP Compute Specialist', 'Cloud Engineer - GCP Data Processing Specialist', 'Cloud Engineer - GCP Security Specialist', 'Cloud Engineer - GKE Specialist', 'Cloud Engineer - Platform', 'Cloud Engineer [REMOTE]', 'Cloud Engineer to accelerate our growing cloud journey', 'Cloud Infrastructure Engineer', 'Cloud Operations Engineer, EMEA', 'Cloud Security Engineer', 'Cloud System Engineer', 'Cobol developer to SEB in Stockholm', 'Coffee loving Data & BI Engineer at Espresso House', 'Commercial Excellence Analyst – Region Nordics (Sweden, Denmark, Norway)', 'Complex Intelligence Analyst', 'Computer Vision Engineer', 'Computer Vision Research Engineer - 3D Vision (Stockholm or Gothenburg, Sweden)', 'Consultant', 'Contract Principal Statistician (remote-based)', 'Coop, Cloud Data Engineer', 'Cost Assurance Analyst', 'Credit Analyst', 'Cryptographer', 'Customer Engineer, Smart Analytics, Digital Natives Customers', 'Customer Engineer, Smart Analytics, Google Cloud', 'Customer Insight Analyst at SEB in Stockholm', 'Cyber Security Specialist', 'DATA ENGINEER - Dubai, UAE', 'DATA SCIENTIST TILL STOCKHOLM', 'Data & BI Engineer', 'Data Analyst', 'Data Analyst (Online) - Czech', 'Data Analyst (Online) - Czech (CZ)', 'Data Analyst (Online) - Czech speaker', 'Data Analyst (Online) - Danish (DK)', 'Data Analyst (Online) - Hungarian', 'Data Analyst (Online) - Hungarian (HU)', 'Data Analyst (Online) - Hungary (HU)', 'Data Analyst (Online) for Czech speaker (CZ)', 'Data Analyst (Online) for Danish speaker (DK)', 'Data Analyst (Online) for Hungarian speaker (HU)', 'Data Analyst (Statistics/Python/BI) (Bangkok-based, relocation provided)', 'Data Analyst (Tableau, Snowflake & Python)', 'Data Analyst (online) - Czech', 'Data Analyst (online) - Czech (CZ)', 'Data Analyst (online) - Czech speaker (part time job)', 'Data Analyst (online) - Danish', 'Data Analyst (online) - Danish (DK)', 'Data Analyst (online) - Danish speaker', 'Data Analyst (online) - Danish speaker (part time job)', 'Data Analyst (online) - Hungarian', 'Data Analyst (online) - Hungarian (HU)', 'Data Analyst (online) - Hungarian speaker', 'Data Analyst (online) - Hungarian speaker (part time job)', 'Data Analyst - Attack Surface Discovery', 'Data Analyst - Czech', 'Data Analyst - Czech (CZ)', 'Data Analyst - Czech (Part Time)', 'Data Analyst - Czech Speaker (CZ)', 'Data Analyst - Czech Speaker (CZ) PART TIME', 'Data Analyst - Danish', 'Data Analyst - Danish (DK)', 'Data Analyst - Danish (DK) PART TIME', 'Data Analyst - Danish (Part Time)', 'Data Analyst - Hungarian', 'Data Analyst - Hungarian (HU)', 'Data Analyst - Hungarian (HU) PART TIME', 'Data Analyst - Hungarian (Part TIme)', 'Data Analyst - Marketing', 'Data Analyst - Stockholm', 'Data Analyst - Stockholm - Microsoft Partner', 'Data Analyst / Engineer to Nordax Bank', 'Data Analyst for Czech Speaker', 'Data Analyst for Czech speaker', 'Data Analyst for Czech speaker (CZ)', 'Data Analyst for Danish speaker', 'Data Analyst for Danish speaker (DK)', 'Data Analyst for Danish speaker - part time', 'Data Analyst for Hungarian speaker', 'Data Analyst for Hungarian speaker (HU)', 'Data Analyst till Lendo', 'Data Analyst till Tre', 'Data Analyst, Partner Health Monitoring', 'Data Analyst- Czech (CZ)', 'Data Analyst- Stockholm', 'Data Analyst/BI Developer till spännande konsultbolag 👨\u200d🎤', 'Data Analytics Manager – Customer Experience Group Based in Bangkok', 'Data Analytics Manager, Developer Operations', 'Data Architect or Data Engineer? Join our Tech Edge Team!', 'Data Centre Engineer', 'Data Engineer', 'Data Engineer (Sweden)', 'Data Engineer (x/f/m)', 'Data Engineer - Big Data', 'Data Engineer - Car Service', 'Data Engineer - Central', 'Data Engineer - Central Stockholm', 'Data Engineer - Composer', 'Data Engineer - Databricks with Pyspark', 'Data Engineer - Financial Services', 'Data Engineer - H&M', 'Data Engineer - Informationdriven Healthcare', 'Data Engineer - Python/Pyspark', 'Data Engineer - QuantumBlack', 'Data Engineer - Remote/Europe', 'Data Engineer - Scala', 'Data Engineer - Schibsted', 'Data Engineer - Stockholm', 'Data Engineer - Stockholm & Gothenburg', 'Data Engineer - Stockholm - Azure and Snowflake', 'Data Engineer - Stockholm - Household Name', 'Data Engineer Consultant to Redpill Linpro Data Analytics Stockholm AB', 'Data Engineer Consultant- Stockholm', 'Data Engineer Team Lead - BRA0740', 'Data Engineer for PaymentIQ', 'Data Engineer for data platform', 'Data Engineer in Gothenburg', 'Data Engineer in Stockholm', 'Data Engineer till Cabonline!', 'Data Engineer till Kayenta', 'Data Engineer till SPP!', 'Data Engineer to Analytics and Reporting at SEB in Stockholm', 'Data Engineer to Budbee!', 'Data Engineer to interesting assignment', 'Data Engineer to the BI-team at Schibsted Marketing Services (SMS)', 'Data Engineer | Digital Experience', 'Data Engineer – Google Cloud', 'Data Engineer – Solution Architect', 'Data Engineer, Commercial Systems', 'Data Engineer, Common Data Warehouse - Marketplaces', 'Data Engineer, Data Management & Architecture', 'Data Engineer, Data Management & Architecture - Globally Remote', 'Data Engineer, Financial Industry- Stockholm', 'Data Engineer, Insights & Data', 'Data Engineer, Insights & Data - Stockholm', 'Data Engineer, Stockholm', 'Data Engineer- Fintech- Stockholm', 'Data Engineer- Malmo and Stockholm', 'Data Engineer- Microsoft Partner- Stockholm', 'Data Engineer- Stockholm', 'Data Engineer- Stockholm and Gothenburg', 'Data Engineer- Stockholm, Gothenburg & Malmo', 'Data Engineer- Stockholm, Gothenburg, Malmo', 'Data Engineer- Stockhom', 'Data Engineér till Lantmännen', 'Data Infrastructure Engineer', 'Data Infrastructure Engineer, Relay - eCT', 'Data Officer', 'Data Scientist', 'Data Scientist (Advanced Analytics)', 'Data Scientist (python)', 'Data Scientist - Acceleration Nordics', 'Data Scientist - Ads - 12 Months Contract', 'Data Scientist - NLP - Stockholm, Gothenburg, Oslo', 'Data Scientist - QuantumBlack', 'Data Scientist - Soundtrap, Freemium', 'Data Scientist - Stockholm', 'Data Scientist - Time Series Forecasting', 'Data Scientist med intresse för TV och streaming', 'Data Scientist | Machine Learning - Recommender System', 'Data Scientist, Commercial Systems', 'Data Scientist, Growth', 'Data Scientist/Analyst', 'Data Specialist', 'Data Specialist (Analyst with Data Science)', 'Data Specialist (Power BI)', 'Data Visualisation Engineer - EMEA', 'Data Visualization Engineer - Candy Crush', 'Data Warehouse Developer', 'Data Warehouse Developer - Stockholm', 'Data Warehouse/SQL Developer', 'Data analyst', 'Data analyst (online) - Czech (CZ)', 'Data analyst - Danish', 'Data and Analytics Lead', 'Data engineer', 'Data engineer - Stockholm', 'Data engineer på Riksbanken i Stockholm', 'Data scientist', 'Data/Business Analyst', 'Data/Business Analyst - Stockholm - FinTech', 'DataOps Engineer', 'Dataanalytiker och Verksamhetsutvecklare till Karolinska Universitetssjukhuset', 'Dataanalytiker till Dagens Nyheter', 'Dataanalytiker till Prognoscentret', 'Dataanalytiker till energisektorn', 'Database Engineer', 'Database Engineer - Platform', 'Database Infrastructure Engineer (Remote) - Cleura', 'Dedicated Services Engineer, Portuguese speaking', 'DevOps Engineer', 'Developer', 'Developer Operations, Platform Policy Investigator', 'Digital Analyst', 'Digital Analyst - Analytics', 'Digital Analyst - Bluestep Bank', 'Digital Analyst/CRO-specialist', 'Digital Analytics Consultant', 'Digital Marketing Analyst - Sleep Cycle', 'Digital Transformation - Experienced Business Analyst', 'Director of Analytics', 'ERP Business Analyst (Procure to Pay)', 'ERP Business Analyst (TP Projects & Service)', 'Electronic Data Interchange Developer', 'Engineering Manager - Data and Analytics', 'Enterprise Systems Engineer', 'Entry Level Machine Learning Engineer', 'Experienced Machine Learning Engineer - Stockholm', 'FOREX söker Data Engineer', 'Field Services Engineer', 'Finance Analytics Engineer', 'Finance Data Analyst', 'Fraud Investigaton Specialist', 'Freelance Clinical Data Programming Lead - SAS, SDTM', 'Freelancers: Data & Analytics 🔥', 'Freelancers: IT & Development 🔥', 'Full Stack Engineer', 'Full stack engineer - Immediate Start', 'Fully Remote Scala Contractor - 12 Months', 'Förvaltningsledare/ Business Analyst inom Analytics - Stockholm/Göteborg/ Malmö', 'GCP Data Engineer', 'GFCP Expert - Data Analyst', 'GFCP Senior Expert - Data Analyst', 'Game Mathematician', 'Games Data Analyst', 'Global Cloud Analytics Specialist', 'Global Data Engineer', 'Global Electrolux Talent Program - IT Business Analyst – Consumer Service', 'Global Quality Data analyst', 'Go Agent Engineer', 'Google Cloud Data Engineer', 'Google Cloud Engineer', 'Graduate Program - Data Science & Machine Learning Engineer (Stockholm)', 'Graduate Solutions Engineer - Sweden', 'Graph Data Engineer- Graph & Semantics - Tietoevry Create', 'Hur kan data omvandlas till insikter? Bli Data Engineer via AW Academy och starta din nya karriär inom IT-branschen!', 'IP Analyst (Hybrid- Europe)', 'IT & Business Process Analyst - Checkout', 'IT - Produktägare till Ving (Data och Analys)', 'IT Business Analyst Consultant', 'IT Operations Engineer to hallon', 'IT QA Engineer/ Testing Engineer', 'IT Senior Business Analyst - SAP', 'Identity & Access Management Developer', 'Implementation Engineer ( Unix )', 'Implementation Specialist (Google Analytics)', 'Index Analyst', 'InfoSec - Senior Governance and Customer Assurance Analyst', 'Information Technology Business Analyst', 'Infrastructure Developer in WAF team at SEB in Stockholm', 'Infrastructure Engineer', 'Infrastructure Engineer, Europe', 'Infrastructure Operations Engineer', 'Integration Developer', 'Integration Engineer', 'Java Developer', 'Java Software Engineer', 'Junior Business Analyst', 'Junior Business Analyst till världsledande fordonstillverkare!', 'Junior Data Scientist (1 year experience)', 'Junior Integration Engineer', 'Junior OT Engineer', 'Junior OpenShift Engineer - IBM CIC', 'Junior analytiker till Skarpa', 'Junior data engineer till snabbväxande bolag i Stockholm!', 'Junior dataanalytiker till CFI Group', 'Kofax Developer to SEB in Stockholm', 'Konsult inom Testautomation', 'Konsult inom datacenter och server, lagring, backup och HCI-lösningar', 'Konsult inom framtidens mobilkommunikation?', 'Language Data Analyst - Swedish', 'Lead Business Analyst', 'Lead Data Analyst for Customer domain @H&M Group', 'Lead Data Engineer', 'Lead Data Engineer till Premo i Stockholm', 'Localization Developer', 'Logistics Operations Associate', 'MDM Analyst till Össur – Vi hjälper människor till rörligare liv!', 'MSBI Developer - Stockholm - Travel Industry', 'Machine Learning Engineer', 'Machine Learning Engineer - User Journey', 'Machine Learning Engineer AI, Advanced Analytics & Data', 'Machine Learning Operations Engineer', 'Machine Learning Research Engineer - 3D Vision (available in Stockholm or Gothenburg, Sweden', 'Machine Learning Solutions Engineer', 'Manager, Business Analyst, Nordics', 'Manager, Customer Analytics (Bangkok-based, relocation provided)', 'Master Data Management (MDM) konsult - Stockholm', 'Media Analyst Lead', 'Microsoft 365 Engineer', 'Mid Level Incident Readiness Consultant', 'Middle Python Developer', 'Migration Developer', 'Migration Test Analyst', 'Mjukvaruutvecklare', 'Monitoring Engineer - Infra', 'NetSuite konsult', 'Nordic Senior Reforecasting Analyst', 'Online Data Analyst', 'Online Data Analyst - Sweden', 'Oracle Developer Data warehouse developer', 'PART TIME JOB - Data Analyst for Czech speaker (CZ)', 'PART TIME JOB - Data Analyst for Danish speaker (DK)', 'PART TIME JOB: Data Analyst - Czech (CZ)', 'PART TIME JOB: Data Analyst - Danish (DK)', 'PART TIME JOB: Data Analyst - Hungarian (HU)', 'PART TIME JOB: Data Analyst for Hungarian speaker (HU)', 'PLM Business Analyst', 'PO Data & Analys - Interim Stockholm', 'People Data Analyst', 'Performance Analyst', 'Performance Test Engineer to SEB in Stockholm', 'Portfolio Analyst', 'Power BI Consultant, Stockholm', 'Power BI Consultant- Stockholm', 'Power BI Developer', 'Power BI Developer, Stockholm', 'Premo i Stockholm söker Data Engineer', 'Principal Biostatistician', 'Principal Biostatistician - EU (Lead Biostatistician) - Immediate Start', 'Principal Customer Data Platform Engineer', 'Principal Data Scientist - Candy Crush', 'Principal Database Systems Engineer', 'Principal SAS Programmer', 'Principal/Senior Biostatistician', 'Principal/Senior Statistical Programmer', 'Product Analyst', 'Product Data Analyst', 'Product Manager - Data Foundations', 'Product Manager - Data Quality & Standards (Informatica IDQ and/or Axon)', 'Product Manager med bakgrund från Digital Marketing', 'Production Developer', 'Python Developer', 'Python Developer - GCP', 'Python Developer - Remote', 'Python Developer - Stockholm', 'Python Developer - Stockholm - Scale up', 'Python Developer / Fintech / Stockholm', 'Python Developer / Stockholm / Fintech', 'Python Developer Remote Euro (Crypto-Exchange Largest)', 'Python Engineer', 'Python Engineer - Stockholm', 'Python Specialists Needed!', 'Python/Django Engineer', 'Python/GCP Developer', 'QA Engineer', 'QA Engineer - Core Experience', 'QA Engineer - Data', 'QA Engineer - QA (SWEDEN Remote)', 'QA and Test Engineer for the app team at SEB Kort in Stockholm', 'Qlik Developer - Stockholm', 'Quality Assurance Engineer', 'Quantitative Analyst', 'Requirement Analyst/Business analyst', 'Requirements Analyst / Business Analyst to Nexer, Stockholm', 'Research Associate III- Data Analytics', 'Research Data Scientist', 'Rust/Solana Engineer', 'SAS Programmer I/II', 'SAS Programmer II', 'SDE - Live Low Latency Player', 'SIEM Engineer', 'SQL Developer', 'SQL Developer - Stockholm', 'SQL Developer Within Asset Management Area, Technology, Savings Offering', 'SSIS ADF DevOps Specialist (Remote)', 'SW Test Automation Engineer', 'SaaS Ops Engineer', 'Sales Engineer, Smart Analytics, Google Cloud', 'Sales Operation Analyst - Hiring Immediately', 'Sales Operations Business Analyst - Nordics, Nordics SSOE Analyst', 'Salesforce Developer', 'Salesforce Developer (Revenue Systems)', 'Salesforce Developer - Stockholm', 'Salesforce Developer at Deloitte Digital', 'Salesforce Developer- Fully Remote', 'Scala Developer', 'Scala Developer - (EU Fully Remote)', 'Security Engineer - Security Operations', 'Security Operations Engineer', 'Senior Analyst Cybersecurity', 'Senior Analyst, Account Management, Sweden', 'Senior Analyst, Finance Business Partner', 'Senior Analytics Consultant', 'Senior Analytics Engineer EMEA', 'Senior BI Back-End Developer', 'Senior BI Consultant', 'Senior BI/DW Developer', 'Senior Bid Analyst', 'Senior Biostatistician', 'Senior Build & Release Specialist [New Game IP]', 'Senior Business Analyst', 'Senior Business Analyst - Product', 'Senior Business Analyst Telco – BTS (